.burger-menu {
    display: none;
    position: absolute;
    width: 32px;
    left: 8px;
    top: 4px;
    cursor: pointer;
    z-index: 2;
    transition: 0.3s;
}

.burger-menu:hover path {
    stroke: red;
}

@media screen and (max-width: 760px) {
    .burger-menu {
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .burger-menu {
        width: 20px;
    }
}