a {
    text-decoration: none;
}

.film-card {
    color: white;
    margin: 12px;
    transition: 0.2s;
}

.film-poster {
    width: 170px;
    border-radius: 10px;
    transition: 0.2s;
}

.film-card:hover > .film-poster {
    margin-bottom: 12px;
}

.film-card:hover {
    margin-top: 0px;
}

.film-title {
    width: 170px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 600;
}

.film-rating {
    display: flex;
    flex-direction: row;
    margin-top: 4px;
    font-weight: 700;
}

.star {
    width: 24px;
    height: 24px;
}

@media screen and (max-width: 768px) {
    .film-card {
        margin: 8px;
    }
    .film-card:hover > .film-poster {
        margin-bottom: 8px;
    }
    .film-poster {
        width: 100px;
    }
    .film-title {
        font-size: 14px;
        font-weight: 500;
        width: 100px;
    }
    .film-rating {
        font-size: 14px;
    }
    .star {
        width: 18px;
        height: 18px;
    }
}

@media screen and (max-width: 426px) {
    .film-card {
        width: 60px;
        margin: 4px;
    }
    .film-card:hover > .film-poster {
        margin-bottom: 4px;
    }
    .film-poster {
        width: 60px;
    }
    .film-title {
        font-size: 10px;
        width: 60px;
    }
    .film-rating {
        font-size: 10px;
    }
    .star {
        width: 12px;
        height: 12px;
    }
}