.payment-modal .ant-modal-content{
    background-color: rgba(0, 0, 0, 0.6);
    border-color: rgba(0, 0, 0, 0.6);
    color: red;
}

.payment-form{
    color: white;
}

[title] {
    color: white !important;
}