.film-list {
    height: auto;
    padding: 12px;
    border: 2px solid rgb(33, 150, 243);
    border-radius: 4px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 8px;
}

.film-list-item {
    margin: 12px;
    font-weight: 500;
}