a {
    text-decoration: none;
}

.film-card {
    color: white;
    margin: 12px;
    transition: 0.2s;
}

.film-poster {
    width: 170px;
    border-radius: 10px;
    transition: 0.2s;
}

.film-card:hover > .film-poster {
    margin-bottom: 12px;
}

.film-card:hover {
    margin-top: 0px;
}

.film-title {
    width: 170px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 600;
}

.film-rating {
    display: flex;
    flex-direction: row;
    margin-top: 4px;
    font-weight: 600;
}

.star {
    width: 24px;
    height: 24px;
}

@media screen and (max-width: 1460px) {
    .film-card {
        margin: 8px;
    }
    .film-card:hover > .film-poster {
        margin-bottom: 8px;
    }
    .film-poster, .film-title, .skeleton-card {
        width: 150px;
    }
    .skeleton-card {
        height: 220px;
    }
}

@media screen and (max-width: 1260px) {
    .film-card {
        margin: 6px;
    }
    .film-card:hover > .film-poster {
        margin-bottom: 6px;
    }
    .film-poster, .film-title, .skeleton-card {
        width: 125px;
    }
    .skeleton-card {
        height: 180px;
    }
}

@media screen and (max-width: 910px) {
    .film-poster, .film-title, .skeleton-card {
        width: 100px;
    }
    .skeleton-card {
        height: 147px;
    }
    .film-title, .film-rating {
        font-size: 14px;
    }
    .star {
        width: 20px;
        height: 20px;
    }
}

@media screen and (max-width: 760px) {
    .film-card {
        margin: 4px;
    }
    .film-card:hover > .film-poster {
        margin-bottom: 4px;
    }
    .film-poster, .film-title, .skeleton-card {
        width: 80px;
    }
    .skeleton-card {
        height: 120px;
    }
    .film-title, .film-rating {
        font-size: 12px;
    }
    .star {
        width: 16px;
        height: 16px;
    }
}

@media screen and (max-width: 600px) {
    .film-card {
        margin: 3px;
    }
    .film-card:hover > .film-poster {
        margin-bottom: 3px;
    }
    .film-poster, .film-title, .skeleton-card {
        width: 60px;
    }
    .skeleton-card {
        height: 90px;
    }
    .film-title, .film-rating {
        font-size: 10px;
    }
    .star {
        width: 14px;
        height: 14px;
    }
}

@media screen and (max-width: 450px) {
    .skeleton-card {
        height: 72px;
    }
}

@media screen and (max-width: 380px) {
    .skeleton-card {
        height: 57px;
    }
}