:root {
    --header-bg-color: #001424;
    --main-bg-color: rgb(0, 30, 54);
    --search-bg-color: rgb(0, 52, 94);
    --placeholder-color: #c0c0c0;
}

.pageStyle{
    min-height: 800px;
    display: flex;
    flex-direction: column;
    align-content: center;
    background-image: url("../public/dotnetflix-bgi.jpg");
    background-size: cover;
    height: 100%;
}