@import url(../constants.css);

.data-search {
    border: 2px solid var(--sidebarBgColor);
    border-radius: 4px;
    margin-bottom: 24px;
}

.data-search input, .data-search button, .data-search input:focus {
    border: none !important;
}

.data-search input:focus {
    box-shadow: none;
}

.data-list {
    height: auto;
    padding: 12px;
    border: 2px solid var(--sidebarBgColor);
    border-radius: 4px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 8px;
}