@use "../../../constants.css"

.editBtn
    color: black
    vertical-align: middle
    padding: 5px 10px
    border: solid 1px var(--header-bg-color)
    background-color: var(--header-bg-color) 
    border-radius: .8em
    color: #fff
    font-weight: 500
    &:hover
        color: red
        svg path
            fill: red