@import url(../../constants.css);

.genre-header {
    color: white;
    font-size: 24px;
    font-weight: 600;
    margin-left: 12px;
}

.body {
    padding-top: 64px;
    padding-left: 64px;
    padding-right: 64px;
    background-color: var(--main-bg-color);
}

.film-container {
    display: flex;
    overflow-x: scroll;
}

.film-container::-webkit-scrollbar {
    display: none;
}