@import url(../../constants.css);

.flex-container {
    display: flex;
    justify-content: space-around;
    background-color: var(--header-bg-color);
}

.logo {
    color: red;
    font-weight: 600;
    font-size: 36px;
    text-decoration: none;
}

.links {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 100px;
}

.links a {
    margin-left: 12px;
    margin-right: 12px;
    text-decoration: none;
    font-weight: 600;
    color: white;
}

a:hover {
    color: red;
}

.search {
    background-color: rgb(0, 30, 54);
    margin-top: 8px;
    margin-bottom: 8px;
    padding-left: 8px;
    border-style: none;
    border-radius: 8px;
}

.search:focus-visible {
    background-color: white;
    outline: none;
}